@using MyMedia.RCL.Services
@inject MyMediaService Service
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyMedia App</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalog">
                <span class="oi oi-list" aria-hidden="true"></span> Catálogo
            </NavLink>
        </div>

        @if (Service.IsLoggedIn)
        {
            @if (Service.IsSupplier)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="add-product">
                        <span class="oi oi-plus" aria-hidden="true"></span> Novo Produto
                    </NavLink>
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="favorites">
                    <span class="oi oi-heart" aria-hidden="true"></span> Favoritos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <button class="nav-link btn btn-link text-start text-white" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Sair
                </button>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        Service.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        
        Service.OnChange -= StateHasChanged;
    }

    private async Task Logout()
    {
        await Service.LogoutAsync();
        
    }
}