@page "/checkout-success"

<PageTitle>Sucesso!</PageTitle>

<div class="text-center mt-5">
    <h1 class="text-success display-1">🎉</h1>
    <h2 class="mb-4">Encomenda Recebida!</h2>
    <p class="lead">Obrigado pela sua compra. Vamos processar o seu pedido.</p>

    <div class="mt-5">
        <a href="catalog" class="btn btn-primary">Voltar à Loja</a>
    </div>
</div>