@page "/"

<PageTitle>MyMEDIA - Home</PageTitle>

<div class="text-center mt-5">
    <h1>Bem-vindo à MyMEDIA! </h1>
    <p class="lead">A sua loja de entretenimento favorita.</p>
    
    <div class="alert alert-info">
        Este componente está a correr a partir da <strong>RCL Partilhada</strong>!
    </div>
    <div class="mt-4">
        <NavLink href="catalog" class="btn btn-primary btn-lg shadow">
            🛍️ Ver Catálogo de Produtos
        </NavLink>

        <NavLink href="login" class="btn btn-primary btn-lg shadow">
            🛍️ Login
        </NavLink>
        <a href="my-orders" class="btn btn-secondary">📦 Minhas Encomendas</a>
    </div>
</div>